@model List<FoodEx.Data.Entity.Restaurant>

@{
    ViewData["Title"] = "Restaurants";
}

<div class="container mt-4">
    <h2 class="mb-4">Find Your Favorite Restaurant</h2>

    <form method="get" class="mb-4">
        <div class="input-group">
            <input type="text" name="searchTerm" class="form-control" placeholder="Search restaurants by name..." value="@ViewBag.SearchTerm">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </form>

    <div class="row mb-4">
        <h2 for="category" class="form-label">Filter by Category</h2>
        <div class="col-12 text-center">
            <form asp-action="Place" method="get">
                <div class="d-flex justify-content-center mt-4">
                    <select name="category" id="category" class="form-select">
                        <option value="">Select a Category</option>
                        @foreach (var category in ViewBag.FoodCategories)
                        {
                            <option value="@category">@category</option>
                        }
                    </select>
                    <button type="submit" class="btn btn-primary mt-2">Filter</button>
                </div>
            </form>
        </div>

    <div class="row">
        @foreach (var restaurant in Model)
        {
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="restaurant-card position-relative shadow-sm bg-white rounded overflow-hidden h-100">
                    <a asp-controller="Place" asp-action="PlaceDetails" asp-route-id="@restaurant.RestaurantId" class="text-decoration-none text-dark">
                        <div class="img-wrapper">
                            <img src="@restaurant.ImageURL"
                                 alt="@restaurant.Name" class="img-fluid w-100" />
                        </div>
                        <div class="overlay">
                            <h5 class="restaurant-name text-white">@restaurant.Name</h5>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
